In [2]:
import tensorflow as tf

In [3]:
from tensorflow.keras import datasets, layers, models

In [4]:
import matplotlib.pyplot as plt

In [5]:
import numpy as np

In [6]:
(x_train, y_train),(x_test, y_test) = datasets.cifar10.load_data()

Downloading data from https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
 17301504/170498071 [==>...........................] - ETA: 2:32:29

KeyboardInterrupt

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('./dataset_pokemon/pokemon.csv')

In [9]:
df.head()

         Name  Type1   Type2
0   bulbasaur  Grass  Poison
1     ivysaur  Grass  Poison
2    venusaur  Grass  Poison
3  charmander   Fire     NaN
4  charmeleon   Fire     NaN

In [13]:
df['Type2'].isna().sum()

404

In [15]:
df['Type1'].nunique()

18

In [17]:
df['Type1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [19]:
len(df['Type1'].unique())

18

In [28]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [25]:

unscaled_values = df['Type1']
unscaled_values

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
         ...
804        Rock
805        Fire
806    Electric
807       Steel
808       Steel
Name: Type1, Length: 809, dtype: object

In [24]:
scaler = MinMaxScaler()

In [46]:
label_encoder = LabelEncoder()
encoded_to_int = label_encoder.fit_transform(df['Type1'])
encoded_to_int
reshaped= enc
reshaped
#scaled_values = scaler.fit_transform(encoded_to_int)
# scaled_data = scaler.fit_transform(unscaled_values)

array([ 9,  9,  9,  6,  6,  6, 17, 17, 17,  0,  0,  0,  0,  0,  0, 12, 12,
       12, 12, 12, 12, 12, 13, 13,  3,  3, 10, 10, 13, 13, 13, 13, 13, 13,
        4,  4,  6,  6, 12, 12, 13, 13,  9,  9,  9,  0,  0,  0,  0, 10, 10,
       12, 12, 17, 17,  5,  5,  6,  6, 17, 17, 17, 14, 14, 14,  5,  5,  5,
        9,  9,  9, 17, 17, 15, 15, 15,  6,  6, 17, 17,  3,  3, 12, 12, 12,
       17, 17, 13, 13, 17, 17,  8,  8,  8, 15, 14, 14, 17, 17,  3,  3,  9,
        9, 10, 10,  5,  5, 12, 13, 13, 10, 10, 12,  9, 12, 17, 17, 17, 17,
       17, 17, 14,  0, 11,  3,  6,  0, 12, 17, 17, 17, 12, 12, 17,  3,  6,
       12, 15, 15, 15, 15, 15, 12, 11,  3,  6,  2,  2,  2, 14, 14,  9,  9,
        9,  6,  6,  6, 17, 17, 17, 12, 12, 12, 12,  0,  0,  0,  0, 13, 17,
       17,  3,  4, 12,  4,  4, 14, 14,  3,  3,  3,  9, 17, 17, 15, 17,  9,
        9,  9, 12,  9,  9,  0, 17, 17, 14,  1,  1, 17,  8, 14, 14, 12,  0,
        0, 12, 10, 16,  4,  4, 17,  0,  0,  0,  1, 12, 12,  6,  6, 11, 11,
       17, 17, 17, 11, 17, 16,  1,  1, 17, 10, 10, 12, 12, 12,  5,  5, 11,
        3,  6, 12, 12,  3,  6, 17, 15, 15, 15, 14,  6, 14,  9,  9,  9,  6,
        6,  6, 17, 17, 17,  1,  1, 12, 12,  0,  0,  0,  0,  0, 17, 17, 17,
        9,  9,  9, 12, 12, 17, 17, 14, 14, 14,  0,  0,  9,  9, 12, 12, 12,
        0,  0,  0, 12, 12, 12,  5,  5, 12, 15, 12, 12,  1, 16, 16, 16, 16,
        5,  5,  3,  3,  3,  3,  0,  0,  9, 13, 13, 17, 17, 17, 17,  6,  6,
        6, 14, 14, 12, 10, 10, 10,  9,  9, 12,  2, 12, 13, 15, 15, 17, 17,
       17, 17, 10, 10, 15, 15, 15, 15, 17, 17, 12, 12,  8,  8,  8,  8,  9,
       14,  1, 14, 11, 11, 11, 11, 11, 17, 17, 17, 17, 17,  2,  2,  2, 16,
       16, 16, 15, 11, 16,  2,  2, 17, 10,  2, 16, 14,  9,  9,  9,  6,  6,
        6, 17, 17, 17, 12, 12, 12, 12, 12,  0,  0,  3,  3,  3,  9,  9, 15,
       15, 15, 15,  0,  0,  0,  0,  0,  3, 17, 17,  9,  9, 17, 17, 12,  8,
        8, 12, 12,  8,  1, 12, 12, 14, 13, 13, 16, 16, 15, 14, 12, 12,  8,
        2,  2,  2, 12,  5,  5, 10, 10, 13, 13, 13, 13,  9, 17, 17, 17,  9,
        9,  1,  3, 12, 10,  9,  3,  6,  4,  0,  9, 11, 10, 11, 12, 14, 15,
        8, 11,  3, 14, 14, 14, 16, 17,  6, 12,  8, 14, 17, 17,  1,  9, 12,
       14,  9,  9,  9,  6,  6,  6, 17, 17, 17, 12, 12, 12, 12, 12,  1,  1,
        9,  9,  6,  6, 17, 17, 14, 14, 12, 12, 12,  3,  3, 15, 15, 15, 14,
       14, 10, 10, 12,  5,  5,  5, 17, 17, 17,  5,  5,  0,  0,  0,  0,  0,
        0,  9,  9,  9,  9, 17, 10, 10, 10,  6,  6,  9,  0,  0,  1,  1, 14,
        8,  8, 17, 17, 15, 15, 13, 13,  1,  1, 12, 12, 14, 14, 14, 14, 14,
       14, 17, 17, 11, 11, 11, 12, 12,  3,  0,  0,  9,  9, 17, 17, 17,  0,
        0,  9,  9, 16, 16, 16,  3,  3,  3, 14, 14,  8,  8,  8,  2,  2,  2,
       11, 11, 11,  0,  0, 10,  5,  5,  2, 10, 10,  1,  1, 12, 12, 12,  1,
        1,  6,  0,  1,  1,  1,  0,  0, 16, 15,  9,  7,  3,  2,  2, 10,  2,
       17, 12,  0,  9,  9,  9,  6,  6,  6, 17, 17, 17, 12, 12, 12,  6,  6,
        0,  0,  0,  6,  6,  4,  4,  4,  9,  9,  5,  5, 12, 14, 14, 16, 16,
       16,  4,  4,  4,  4,  1,  1, 15, 15, 13, 13, 17, 17,  3,  3, 15, 15,
       15, 15,  4,  5,  3, 15,  2,  2,  2, 16,  8,  8,  8,  8, 11, 11,  7,
        7,  4,  1,  2, 15, 14,  6,  9,  9,  9,  6,  6,  6, 17, 17, 17, 12,
       12, 12, 12, 12,  0,  0,  0,  5,  5,  6,  0,  0, 15, 15, 17, 13, 13,
       10, 10, 17, 17,  9,  9,  9,  9, 13, 13, 12, 12,  9,  9,  9,  4, 12,
        5,  0,  0,  8,  8, 17, 12, 12, 15, 12,  6,  3,  8, 17, 12,  8,  2,
        2,  2,  3, 14,  9, 17, 14, 14, 14, 14, 15,  0,  0,  3, 16,  9,  1,
       14, 16,  5, 13, 13, 15,  6,  3, 16, 16])