In [1]:
import numpy as np

In [2]:
#normal python list
py_list = [1,2,3,4]

In [3]:
#converting normal list to numpy array
np_array = np.array(py_list)

In [6]:
type(np_array), np_array

(numpy.ndarray, array([1, 2, 3, 4]))

In [14]:
data = np.array([
    [1,2,3,4],
    [2,3,4,5],
    [4,5,6,7]
])
#no of dimensions it has, shape is a better way to see it
data.ndim, data.shape

(2, (3, 4))

In [10]:
# we can call in any of the two ways, printing the number of dimensions
np_array.ndim , np.ndim(np_array)

(1, 1)

In [6]:
np_array.shape

(4,)

In [15]:
#create a array with range of values
range_array = np.arange(0,10)   #including 0 but excluding 10
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
range_even_array = np.arange(0,10,2)
range_even_array

array([0, 2, 4, 6, 8])

In [17]:
#for creating a np array of zeros 
# np_array_with_zeros = np.zeros(3)
np_array_with_zeros = np.zeros((2,3,4))
np_array_with_zeros

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [18]:
#simpilary for creating a array of ones 
np_array_of_ones = np.ones((2,3))
np_array_of_ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [30]:
#generate random numbers between 0 and 1
np.random.rand(10)

array([0.55577853, 0.64972168, 0.58087723, 0.16888183, 0.41586877,
       0.65300567, 0.62057164, 0.40377004, 0.87376594, 0.5550648 ])

In [31]:
#similarly for array of random numbers
np.random.rand(1,2)

array([[0.42891124, 0.13969232]])

In [19]:
#for creating random numbers between a range
#5 random numbers between 1 and 20
np.random.randint(1,20,(2,3))

array([[10,  8,  2],
       [14,  8,  1]])

In [32]:
#for keeping the numbers same across various generation
np.random.seed(43)    #can keep any value in seed function
np.random.randint(1,20,5)

array([ 5,  1, 18, 17, 18])

In [33]:
#in this shell also the values will be same as above 
np.random.seed(43)    #can keep any value in seed function
np.random.randint(1,20,5)

array([ 5,  1, 18, 17, 18])

In [40]:
#reshape convert shape , important thing to remember that no of elements need to be same
np.random.seed(43) 
one_d_array = np.random.randint(1,20,6)

#reshape is important
two_d_array = one_d_array.reshape(2,3)
print('two_d_array',two_d_array)
three_d_array = one_d_array.reshape(1,2,3)
print('three d array',three_d_array)

two_d_array [[ 5  1 18]
 [17 18  3]]
three d array [[[ 5  1 18]
  [17 18  3]]]

In [37]:
three_d_array

array([[[ 5,  1, 18],
        [17, 18,  3]]])

In [43]:
three_d_array.min() #get the min of the array

1

In [39]:
three_d_array.max()   #for getting max of 3d array

18

In [34]:
print(three_d_array.mean(), three_d_array.std())    #mean standardarray and many other things too

10.333333333333334 7.431165603202651

In [40]:
#can ACCESS the element in same way as we do in PYTHON LIST
three_d_array[0,1,0] 
three_d_array[0,-1,-1]          #-1 for starting from end

3

In [47]:
np_arr = np.arange(0,11)
np_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [48]:
#splicing 
np_arr[1:5]    #from element[1,5)

array([1, 2, 3, 4])

In [49]:
np_arr[:8]   #from start till 8

array([0, 1, 2, 3, 4, 5, 6, 7])

In [50]:
np_arr[8:]   #from 8 to end

array([ 8,  9, 10])

In [51]:
#change number between a range
np_arr[2:5] = 10   #we are chaging frmo index 2 till index 4 to value 10
np_arr

array([ 0,  1, 10, 10, 10,  5,  6,  7,  8,  9, 10])

# deep and shallow copy

In [52]:

#important thing 
np_part_array = np_arr[1:5]
print(np_part_array)

#the np_part_array that is created is original array ony that is it is referencing to the original array only
np_part_array[:] = 99
print(np_part_array)
print("original array from which we spliced ",np_arr)    #it was also edited since it was shallow copy

#we can deep copy 

np_deep_copy = np_arr[1:5].copy()
np_deep_copy[:]  = 55
print(np_deep_copy)
print(np_arr)

[ 1 10 10 10]
[99 99 99 99]
original array from which we spliced  [ 0 99 99 99 99  5  6  7  8  9 10]
[55 55 55 55]
[ 0 99 99 99 99  5  6  7  8  9 10]

##### Below true and false things are very usefull in numpy and pandas

In [53]:
#conditionally select element from array
np_arr <10

array([ True, False, False, False, False,  True,  True,  True,  True,
        True, False])

In [58]:
np_arr[np_arr<10]   #return the values which are less than 10

array([0, 5, 6, 7, 8, 9])

In [54]:
np_arr

array([ 0, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [55]:
#will do this operation to all the elements of the np.array
print(np_arr+5)
print(np_arr-5)
print(np_arr*5)
print(np_arr/5)

[  5 104 104 104 104  10  11  12  13  14  15]
[-5 94 94 94 94  0  1  2  3  4  5]
[  0 495 495 495 495  25  30  35  40  45  50]
[ 0.  19.8 19.8 19.8 19.8  1.   1.2  1.4  1.6  1.8  2. ]

In [60]:
#we can also do array to array operations only conditions the shape should be compatible
print(np_arr + np_arr)
print(np_arr -np_arr)
print(np_arr * np_arr)
print((np_arr+1) / (np_arr+1))   #did 1 for removing the issue of 0/0

[  0 198 198 198 198  10  12  14  16  18  20]
[0 0 0 0 0 0 0 0 0 0 0]
[   0 9801 9801 9801 9801   25   36   49   64   81  100]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [61]:
print((np_arr) / (np_arr))     #like here 0 by 0 divide nan is saying not a number  

# 0/0 is not a number
# 3/0  is infinity

[nan  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.]

C:\Users\ravindra.yadav01\AppData\Local\Temp\ipykernel_19032\1672218903.py:1: RuntimeWarning: invalid value encountered in divide
  print((np_arr) / (np_arr))

In [62]:
np.sqrt(np_arr)   #for getting sqaureroot of each element

array([0.        , 9.94987437, 9.94987437, 9.94987437, 9.94987437,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766])

In [63]:
np.sin(np_arr)

array([ 0.        , -0.99920683, -0.99920683, -0.99920683, -0.99920683,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111])

In [64]:
np.sum(np_arr)

441

In [67]:
temp = np.arange(1,50)
np.sum(temp)

1225

In [70]:
two_d_arr = np.random.randint(1,101,(2,2))
print(two_d_arr)

[[51 76]
 [90 66]]

In [71]:
#axis 1 is along rows
print(two_d_arr.sum(axis=1))

[127 156]

In [72]:
#axis 0 is along columns
print(two_d_arr.sum(axis=0))     #similarly can be done for mean and all

[141 142]

In [3]:
array = np.arange(9).reshape(3,3)

In [4]:
array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
np.diag(array,-2)

array([6])

In [13]:
array[::-1] #reverse the columns

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])